extends layout

block content
  #chat(ng-app='chat')
    script(type='text/ng-template', id='login.html')
      .row
        .small-12.large-6.large-centered.columns
          form(ng-submit='login()')
            fieldset
              legend Login

              input(type='text',placeholder='chat name',ng-model='user',required)
              input(type='text',placeholder='room name',ng-init='room="#awkwintest"',ng-model='room',disabled)
              input(type='text',placeholder='server name',ng-init='server="irc.oftc.net"',ng-model='server',disabled)
              button.small.submit Login

    script(type='text/ng-template', id='chat.html')
      .contents
        .row
          .small-8.columns.conversations
            ul
              li.message(ng-repeat='message in messages track by $index') 
                .chat(ng-switch on='message.type')
                  .type-message.line(ng-switch-when='message')
                    span.timestamp {{message.time}}
                    span.from {{message.user}}
                    span.text {{message.text}}
                  .type-command.line(ng-switch-when='command')
                    span.timestamp {{message.time}}
                    span.text {{message.text}}
          .small-4.columns.members
            ul
              li(ng-repeat='(name, options) in members track by name')
                span.name 
                  a(ng-click='fillname(name)') {{name}}
      .inputbox
        .row
          .small-10.columns
            input(type='text',ng-model='message',ng-keypress='keypress($event)',ng-disabled='joining')
          .small-2.columns
            button.small.small-12(ng-click='send()',ng-disabled='joining') Send

    #view(ng-view)

