@import "foundation.min.less";
@import "select2.less";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  #chat {
    height: 100%;

    #view {
      height: 100%;
      position: relative;

      .contents {
        height: 100%;
        padding-bottom: 60px;

        & > div {
          height: 100%;
        }

        .conversations {
          height: 100%;
          overflow: scroll;

          ul {
            list-style: none;

            li {
              color: #666;
              &:nth-child(odd) { background: #FFF; }
              &:nth-child(even) { background: #EEE; }

              .timestamp { 
                margin-right: 5px;
                &:after { content: "]"; }
                &:before { content: "["; }
              }
              .from { 
                margin-right: 10px;
                &:after { content: ":"; }
              }
            }
            // - li
          }
          // - ul
        }
        // - .conversations

        .members {
          height: 100%;
          overflow: scroll;
          background: #EEE;

          ul {
            list-style: none;
            padding-left: 6px;
          }
        }
      }

      .inputbox {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
    // - #view
  }

}
