@import "foundation.min.less";
@import "select2.less";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  #chat {
    height: 100%;

    #view {
      height: 100%;
      position: relative;

      .contents {
        height: 100%;
        padding-bottom: 85px;

        & > div {
          height: 100%;
        }

        .conversations {
          height: 100%;
          overflow: auto;

          ul {
            list-style: none;
            margin-bottom: 0;

            li {
              color: #666;
              &:nth-child(odd) { background: #FFF; }
              &:nth-child(even) { background: #EEE; }
              &.mention:nth-child(odd) { background: #fffcbe; }
              &.mention:nth-child(even) { background: #fff826; }

              .timestamp { 
                display: block;
                float: left;
                width: 40px;
                font-size: 10pt;
                color: #ccc;
                margin-top: 3px;
                &:after { content: "]"; }
                &:before { content: "["; }
              }
              .text-container {
                display: block;
                padding-left: 40+5px;
              }
              .from { 
                margin-right: 10px;
                &:after { content: ":"; }
              }
              .type-command {
                color: #60c898;
              }
              .type-action {
                .from {
                  margin-right: 5px;
                  // "&middot; "
                  &:before { content: "\2022\a0"; }
                  &:after { content: ""; }
                }
              }
            }
            // - li
          }
          // - ul
        }
        // - .conversations

        .members {
          height: 100%;
          overflow: auto;
          background: #EEE;

          ul {
            list-style: none;
            padding-left: 6px;
          }
        }
      }

      .inputbox {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .topic {
        background: #EEE;
        color: maroon;
        height: 30px !important;
        padding: 5px 10px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover{
          overflow: visible;
          text-overflow: initial;
          white-space: normal;
        }

        strong { margin-right: 5px; }
        strong:after { content: ": "; }
      }
    }
    // - #view
  }

}

.color-0, .color-0 a{
  color: white;
}
.color-1, .color-1 a{
  color: black;
}
.color-2, .color-2 a{
  color: blue;
}
.color-3, .color-3 a{
  color: green;
}
.color-4, .color-4 a{
  color: red;
}
.color-5, .color-5 a{
  color: maroon;
}
.color-6, .color-6 a{
  color: purple;
}
.color-7, .color-7 a{
  color: orange;
}
.color-8, .color-8 a{
  color: yellow;
}
.color-9, .color-9 a{
  color: lime;
}
.color-10, .color-10 a{
  color: teal;
}
.color-11, .color-11 a{
  color: cyan;
}
.color-12, .color-12 a{
  color: lightblue;
}
.color-13, .color-13 a{
  color: pink;
}
.color-14, .color-14 a{
  color: gray;
}
.color-15, .color-15 a{
  color: silver;
}
.color-99, .color-99 a{
  color: inherit;
}
.bgcolor-0, .bgcolor-0 a{
  background-color: white;
}
.bgcolor-1, .bgcolor-1 a{
  background-color: black;
}
.bgcolor-2, .bgcolor-2 a{
  background-color: blue;
}
.bgcolor-3, .bgcolor-3 a{
  background-color: green;
}
.bgcolor-4, .bgcolor-4 a{
  background-color: red;
}
.bgcolor-5, .bgcolor-5 a{
  background-color: maroon;
}
.bgcolor-6, .bgcolor-6 a{
  background-color: purple;
}
.bgcolor-7, .bgcolor-7 a{
  background-color: orange;
}
.bgcolor-8, .bgcolor-8 a{
  background-color: yellow;
}
.bgcolor-9, .bgcolor-9 a{
  background-color: lime;
}
.bgcolor-10, .bgcolor-10 a{
  background-color: teal;
}
.bgcolor-11, .bgcolor-11 a{
  background-color: cyan;
}
.bgcolor-12, .bgcolor-12 a{
  background-color: lightblue;
}
.bgcolor-13, .bgcolor-13 a{
  background-color: pink;
}
.bgcolor-14, .bgcolor-14 a{
  background-color: gray;
}
.bgcolor-15, .bgcolor-15 a{
  background-color: silver;
}
.bgcolor-99, .bgcolor-99 a{
  background-color: transparent;
}
